<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Post</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/delete.css">
</head>
<body>
    <div class="delete-container">
        <h1 class="delete-title"><%= message %></h1>
        <a href="/blog" class="back-link">Back to Blog</a>
    </div>
</body>
</html>
