<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Submitted</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/submit.css">
</head>
<body>
    <div class="submit-container">
        <h1 class="submit-message">Post successfully submitted! To see your post please go to <a href="/blog">Blog!</a></h1>
    </div>
</body>
</html>
