<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Updated</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/update.css">
</head>
<body>
    <div class="update-container">
        <h1>Post successfully updated</h1>
        <a href="/blog" class="back-link">Go to blog</a>
    </div>
</body>
</html>
