/* Styles specific to the Blog page */
.blog-container {
    padding: 20px;
}

.blog-title {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.blog-link {
    font-size: 1.2em;
    color: #3498DB;
    text-decoration: none;
}

.blog-link:hover {
    text-decoration: underline;
}
